{
    "size": 100,
    "query": {
      "bool": {
        "must": [
          {
            "term": {
              "project": "{{id}}"
            }
          },
          {
            "range": {
              "timestamp": {
                "gte": "{{floor}}",
                "lt": "{{ceiling}}",
                "format": "{{format}}"
              }
            }
          }
        ]
      }
    }
  }