{
    "size": 0,
    "query": {
        "filtered": {
            "query": {
            "match": {
                "project": "{{id}}"
            }
            },
            "filter": {
            "range": {
                "timestamp": {
                "gte": "now-7d",
                "lte": "now"
                }
            }
            }
        }
        },
        "aggs": {
        "categories": {
            "terms": {
            "field": "category"
            },
            "aggs": {
            "day": {
                "terms": {
                "field": "timestamp",
                "format": "yyyy-MM-dd",
                "order": {
                    "_term": "asc"
                }
                },
                "aggs": {
                "scores": {
                    "terms": {
                    "field": "check"
                    }
                }
                }
            }
            }
        }
    }
}